.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  margin-top: 6rem;
}

.greeting-column {
  display: flex;
  flex-direction: column;
}

.time {
  font-size: 2rem;
}

.hr {
  margin: 1rem 3rem 2rem;
}
